@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-2">Wilson Loayza</h1>
    <h2 class="display-4">Proyecto Shopping con .Net C#</h2>
    <p>Visita <a href="https://portafolio.wilson-loayza.es/">mi web y descubre más acerca de mis proyectos</a>.</p>
</div>
